@model IEnumerable<DesarrolloWebI_CL1_GarciaalvizuriDiazIsaac.Models.Factura>

@{
    ViewData["Title"] = "GetFacturasPorProducto";
}

<h1>Facturas Por Producto</h1>

@using (Html.BeginForm())
{
    <en>Ingresar nombre de producto: </en>
    @Html.TextBox("nombre", "")
    <button>Buscar</button>
}

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.idFactura)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fechaEmision)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nombreProducto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.preciounitario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cantidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.monto)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.idFactura)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fechaEmision)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nombreProducto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.preciounitario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cantidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.monto)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>

<div>
    @for (int i = 0; i < ViewBag.numeroPaginas; i++)
    {
        @Html.ActionLink(
            (i+1).ToString(),
            "GetFacturasPorProducto",
            "Facturas",
            new {nombre = ViewBag.nombre,pagina = i},
            new {@class = "btn btn-primary"}
        )
    }
</div>
